* {
  margin: 0;
  padding: 0;
}
/*  文本超出样式 */
span {
  overflow: hidden; /* 隐藏超出容器宽度的文本 */
  white-space: nowrap; /* 防止文本换行 */
  text-overflow: ellipsis; /* 在文本超出容器时显示省略号 */
}
li {
  list-style: none;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .active-li {
    background-color: rgb(218, 221, 225);
    opacity: 100% !important;
    border-radius: 3px;
  }
}
